div {
	width: 600px;
	margin: 10px auto;
	box-sizing: border-box;}

.satu { 
	background: #52adc4 ; 
	padding: 10px;
	border: 5px dashed black;}


.dua {
	background: #7fc9db;
	padding: ;
	border: 10px dotted hotpink;
	}