
.satu {
	width: 200px;
	height: 200px;
	background: #34c3eb;
	margin: 10px 20px 30px 40px;
	}


	.dua {
	width: 150px;
	height: 100px;
	background: #93bcc7;
	margin-top: 0px;
	}


	.tiga {
	width: 100px;
	height: 50px;
	background: #1c87a3;}